<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="lsbot_transmission" params="prefix">

    <transmission name="${prefix}tower_pan_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}motor1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}tower_pan_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>